<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="./contact.css">
</head>
<body>
    <div class="echbay-sms-messenger style-for-position-br">
        <div class="phonering-alo-alo">
            <a href="tel:0888845066" rel="nofollow" class="echbay-phonering-alo-event">.</a>
        </div>
        <div class="phonering-alo-sms">
            <a href="sms:0888845066" rel="nofollow" class="echbay-phonering-sms-event">.</a>
        </div>
        <div class="phonering-alo-zalo">
            <a href="https://zalo.me/0888845066" target="_blank" rel="nofollow" class="echbay-phonering-zalo-event">.</a>
        </div>
        <div class="phonering-alo-messenger">
            <a href="https://www.messenger.com/t/MyLinh08.03.02" target="_blank" rel="nofollow" class="echbay-phonering-messenger-event">.</a>
        </div>
    </div>
</body>