#edit_information span{
    margin-left:40px;
}
#edit_information {
    margin-top:50px;
}
#edit_information i:hover {
    cursor: pointer;
}
#edit_information .edit_information_detail {
    padding-left:20px;
    padding-top:10px;
}
#edit_information .edit_information_detail i{
    color:#858585
}
#edit_information a{
    text-decoration: none;
}
#edit_information .edit_information_setting a{
    color:black;
}
#edit_information .edit_information_border{
    border-right:1px solid #858585;
}
#edit_information .edit_information_notification img{
    width:30px;
    margin-bottom: 3px;
}
#edit_information .edit_information_notification {
    float:right;
}
#edit_information .edit_information_padding{
    padding-left:80px;
}
#edit_information input{
    padding-top:8px;
    padding-bottom: 8px;
    padding-right:5px;
    padding-left:5px;
    border-radius: 8px;
    outline:0;
    border:1px solid #858585;
}
#edit_information button{
    width:150px;
}
#edit_information .btn-cancel button{
    border: solid 1px #F53855!important;
    color: #F53855 !important;
}
#edit_information .btn-save button{
    background-color:#F53855 !important;
    color:white;
}
#edit_information .edit_information_image img{
    width:50px;
    height:50px;
}
#edit_information .edit_information_image{
    margin-left:-25px;
}

#edit_information .edit_information_title{
    padding-top:20px;
}
#edit_information .edit_information_notification i{
    margin-right:20px;
    background-color: #ccc;
    padding:10px;
    color:red;
    border-radius:10px;
}
#edit_information .edit_information_border a{
    display:block;
}
#edit_information span:hover {
    color:red;
}
#edit_information .padding-security{
    margin-left:55px;
}
#edit_information .padding-security a{
   font-size: 12px;
   color:#858585
}
#edit_information .padding-security a:hover{
    color:red
}
#edit_information .padding-security i{
    margin-right:13px;
}
#edit_information .dropdown-menu{
    top: 7px!important;
    left: -64px!important;;
}