#payment .logo img{
    width:30px;
    height:50px;
}
#payment .border-container{
    padding-left:18%;
    border: 1px solid #0000001A;
    height:500px;
}
#payment .logo p{
    margin-top:11px;
    margin-left:20px;
    font-weight:700;
    font-size:18px;
}
#payment .menu_detail span{
    margin-left:20px;
}
#payment .menu_detail i{
    margin-right:10px;
}
#payment .menu_detail a{
    margin-left:10px;
    text-decoration: none;
    color:#131313;
    display:block;
}
#payment .menu_detail .w{
    width:30px;
}
#payment .search-border{
    border:1px solid #0000001A ;
    padding: 10px;
    width:450px;
    margin-left:50px;
}
#payment .search-border i{
    margin-left:10px;
}
#payment .search-border input{
    border:none;
    outline:0;
    margin-left:20px;
}
#payment .img_personal img{
    width:50px; 
}
#payment .table_user{
    width:10000px
}
#payment .padding{
    padding-left:20px;
    padding-right:40px;
}
#payment .padding {
    font-size:11px;
}
#payment .table_user {
    font-size: 11px;
}
#payment .table{
    text-align: center;
}
#payment .table i{
    color:red;
}
#payment .table input{
    height:17px;
}
#payment .green i{
    color:#4ECB71
}
#payment .btn-search{
    font-size:10px;
    margin-left:10px;
    height:40px;
    width:70px;
    color:white;
    background-color:#F53838
}
#payment button:hover{
    background-color: transparent;
    color:#F53838;
    border:1px solid #F53838;
}
#payment .menu_detail a:hover{
    color:#F53838;
}