<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="./Arlert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    </div>
        <div class='alert alert__primary spacer' role='alert'>
            <i class="fas fa-exclamation-circle alert__icon"></i>
            <p class='alert__text'>This is a Info alert message.</p>
            <button type="button" class="alert__close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times-circle alert__close"></i></span>
          </button>
        </div>
 
        <div class='alert alert__secondary spacer' role='alert'>
            <i class="fas fa-exclamation-circle alert__icon"></i>
            <p class='alert__text'>This is a standard alert message.</p>
            <button type="button" class="alert__close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times-circle alert__close"></i></span>
          </button>
        </div>

        <div class='alert alert__warning spacer' role='alert'>
            <i class="fas fa-exclamation-triangle alert__icon"></i>
            <p class='alert__text'>This is a warning alert message. </p>
            <button type="button" class="alert__close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times-circle alert__close"></i></span>
          </button>
        </div>
        <div class='alert alert__error spacer' role='alert'>
            <i class="fas fa-minus-circle alert__icon"></i>
            <p class='alert__text'>This is a danger alert message.</p>
            <button type="button" class="alert__close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times-circle alert__close"></i></span>
          </button>
        </div>
        <div class='alert alert__success spacer' role='alert'>
            <i class="fas fa-check-circle alert__icon"></i>
            <p class='alert__text'>This is a success alert message.</p>
            <button type="button" class="alert__close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times-circle alert__close"></i></span>
          </button>

    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
   $('.alert__close').click(function() {
    $(this).parent().addClass('closed');
});

</script>

</html>

